{% extends 'base.html.twig' %}

{% block title %}BookingV2 {% endblock %}

{% block body %}<h1><strong>Hotel</strong>: your home comfort in Leiria!</h1>   

<div>
    Browse through {{numberOfRooms}} rooms!


    {% if numberOfRooms %}
    <p>
        {# Do you think "shipload" will pass the legal team? #}
        That's a beautiful hotel
    </p>
    {% endif %}
</div>

<div>
    <h2> My Hotel</h2>
<table>
  <tr>
    <th>Name</th>
    <td>
        <a href="{{ path("app_room_show",{ id: room.id }) }}">
        {{ room.name}}
        </a>  
    </td>
  </tr>
  <tr>
    <th>Class</th>
    <td>{{ room.roomType }}</td>
  </tr>
</table>

</div>
{% endblock %}